:root {
  --espresso: #482e1d;
  --coffee: #6f4e37;
  --sage: #6b7d4a;

  --background: #f7f1e5;
  --surface: #fffdf8;

  --text: #211811;
  --text-muted: #6b625a;
  --border: #d8cdbb;

  --head-shadow-before: #21181100;
  --head-shadow-after: #21181120;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

section {
  height: 100dvh;
  position: sticky;
  top: 0;
  /* z-index: 2; */
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5dvw;
  top: 0;
  left: 0;
  width: 100dvw;
  min-height: 7dvh;
  z-index: 50;
  /* background:var(--espresso); */
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#navbar > ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 16px;
}

#navbar a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  font-size: large;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

#navbar a:hover {
  opacity: 0.8;
  transform: translate(0, -3px);
}

/* create a shadow around the nav part */
.header-moved-bottom {
  animation: header-moved-bottom 0.3s ease-in-out;
}

.header-moved-top {
  animation: header-moved-top 0.3s ease-in-out;
}

@keyframes header-moved-bottom {
  from {
    background-color: var(--head-shadow-before);
  }
  to {
    background-color: var(--head-shadow-after);
  }
}

@keyframes header-moved-top {
  from {
    background-color: var(--head-shadow-after);
  }
  to {
    background-color: var(--head-shadow-before);
  }
}

#canvasId {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: -1;
}

#hero {
  background-color: var(--background);
}
