* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vdw;
}

#root {
  /* position: relative; */
  display: flex;
}

#canvasObj {
  margin-left: auto;
  background-color: azure;
  border: 1px solid;
  /* border-width: 1rem; */
  border-color: black;
  width: 80dvw;
  min-height: 30dvh;
  height: 100dvh;
  /* position: absolute; */
  right: 0%;
}
